* {
 margin: 0; /* Відступи ззовні */
 padding: 0; /* Відступи в середині */
}

body { /* Тіло сторінки */
 width: 100%; /* Висота */
 height: 100%; /* Ширина */
 font-family: Arial, Helvetica, sans-serif; /* Шрифти */
 font-size:0.94em; /* Розмір тексту */
 line-height:135%; /* Міжрядковий інтервал */
}

h1 { /* Заголовок 1 */
 text-align:center; /* Вирівнювання по центру */
 font-size:60px; /* Розмір тексту */
 font-weight:normal; /* Висота тексту */
 padding:25px 0 0 0; /* Відступи від краю */
 line-height:100%; /* Міжрядковий інтервал */
}

a { /* Посилання */
 color: #fff; /* Колір посилання */
 text-decoration:none; /* Відміна підкреслення */
}

a:hover { /* Посилання відвідане */
 color:#fff; /* Колір посилання */
 text-decoration: none; /* Відміна підкреслення */
}

#cost { /* Текст вартості */
 text-align:center; /* Вирівнювання тексту по середині */
 position: fixed; /* Фіксоване положення */
 padding: 0 0 25px 0; /* Поля навколо тексту */
 color: #fff; /* Колір тексту */
 font-size: 18px; /* Розмір тексту */
 width: 100%; /* Ширина шару */
}

#footer { /* Підвал */
 text-align:center; /* Вирівнювання тексту по середині */
 position: fixed; /* Фіксоване положення */
 left: 0; bottom: 0; /* Лівий нижній кут */
 padding: 0 0 25px 0; /* Поля навколо тексту */
 color: #fff; /* Колір тексту */
 width: 100%; /* Ширина шару */
 }
