* {
 margin: 0; /* Відступи ззовні */
 padding: 0; /* Відступи в середині */
}

body { /* Тіло сторінки */
 width: 100%; /* Висота */
 height: 100%; /* Ширина */
 font-family: Arial, Helvetica, sans-serif; /* Шрифти */
 font-size:0.94em; /* Розмір тексту */
 line-height:135%; /* Міжрядковий інтервал */
}

h1 { /* Заголовок 1 */
 text-align:center; /* Вирівнювання по центру */
 font-size:60px; /* Розмір тексту */
 font-weight:normal; /* Висота тексту */
 color: #fff; /* Колір тексту */
 padding:25px 0 0 0; /* Відступи від краю */
 line-height:100%; /* Міжрядковий інтервал */
}

#footerlogo { /* Стиль лого підвалу */
 width:140px; /* Ширина зображення */
 max-width:90%;  /* Максимальна ширина при зміненні розміру екрану */
}

#footer { /* Підвал */
 text-align:center; /* Вирівнювання тексту по середині */
 position: fixed; /* Фіксоване положення */
 left: 0; 
 bottom: 0; /* Лівий нижній кут */
 padding: 0 0 25px 0; /* Поля навколо тексту */
 color: #fff; /* Колір тексту */
 width: 100%; /* Ширина шару */
 }
 
	.modal { /* Стилі шару затемнення під моодальним вікном */
		position: fixed; /* Встановлює спосіб позиціювання елементу відносно вікна браузера чи інших об'єктів на веб сторінці. */
		z-index: 9; /* Положення в третьому вимірі (розташування над екраном) */
		font-family: Arial, Helvetica, sans-serif; /* Сімейство шрифтів */
		top: 0; /* Положення шару затемнення під моодальним вікном до самого верху (впритул) */
		right: 0; /* Положення шару затемнення під моодальним вікном до правого краю (впритул) */
		bottom: 0; /* Положення шару затемнення під моодальним вікном до самого низу (впритул) */
		left: 0; /* Положення шару затемнення під моодальним вікном до лівого краю (впритул) */
		background: rgba(0,0,0,0.8); /* Затемненя навколо модалу, коли він відкритий */
		display: none; /* При завантаженні сторінки не показувати модал */
	}

	 .modal:target { /* Стилі для закриття модалу */
	    display: block; /* Відповідає за відображення модалу блоком */
	    pointer-events: auto; /* Відповідає за кнопку "закрити"? */
	} 

	.modal > div {
		width: 50%; /* Ширина модального вікна */
		min-width:250px;
	/* 	height: 200px; Висота модалу */
		margin: 5% auto; /* Розташування модалу відносно верхнього лівого кута - перше відсоток відступ зверху, друге auto розташування по центру */
		padding: 20px 20px 60px 20px; /* Поля навколо вмісту елементу */
		background: #fff; /* Фон модалу */
	}

a { /* Посилання */
 color: #fff; /* Колір посилання */
 text-decoration:none; /* Відміна підкреслення */
}

a:hover { /* Посилання відвідане */
 color:#fff; /* Колір посилання */
 text-decoration: none; /* Відміна підкреслення */
}
#cost { /* Текст вартості */
 text-align:center; /* Вирівнювання тексту по середині */
 position: fixed; /* Фіксоване положення */
 padding: 0 0 25px 0; /* Поля навколо тексту */
 color: #fff; /* Колір тексту */
 font-size: 18px; /* Розмір тексту */
 width: 100%; /* Ширина шару */
}
